.breadcrumb {
    position: relative;
    height: 350px;
    display: flex;
    background-image: url('slickslider2.png');
    background-size: cover; /* Đảm bảo ảnh nền phủ đầy */
    background-position: center; /* Căn giữa ảnh nền */
    background-repeat: no-repeat; /* Tránh lặp lại ảnh nền */
    align-items: center;
}
.breadcrumb-overlay{

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.breadcrum-content{
    color: #fff;
    width: 100%;
    z-index: 3;
    span{
        font-size: 24px;
        font-weight: 300;
        z-index: 3;
    }
    a{
        font-size: 24px;
        color: #fff;
        font-weight: 300;
        z-index: 3;
    }
    
}