#button-contact-vr {
    position: fixed;
    bottom: 20%;
    right: 7%;
}

.zalo-vr {
    position: relative;
    /* Cần cho vị trí tương đối để pseudo-element định vị theo phần tử chính */
    display: block;

    .phone-circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgba(33, 150, 243, 0.7);

        z-index: 2;
        /* Đảm bảo vòng tròn chính nằm trên pseudo-element */
        transition: all 0.5s;
        transform-origin: 50% 50%;
        -webkit-animation: zoom 1.3s infinite;
        animation: zoom 1.5s infinite;
    }

    .phone-circle::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: rgba(33, 150, 243, 0.4);
        transform: scale(1);
        z-index: 1;
        /* Đặt vòng tròn mờ nằm dưới vòng tròn chính */
        transition: all 0.5s;
        animation: ripple 1.5s infinite;
    }

    .phone-image {
        position: absolute;
        z-index: 3;
        width: 100%;
        top: 20%;
        left: 20%;
        display: block;
        img {
            width: 30px;
            height: auto;
            color: red;
        }

    }

    
}

.phone-vr {
    position: relative;
    margin-top: 20px;
    display: block;

    .phone-circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgba(230, 8, 8, 0.7);

        z-index: 2;
        /* Đảm bảo vòng tròn chính nằm trên pseudo-element */
        transition: all 0.5s;
        transform-origin: 50% 50%;
        -webkit-animation: zoom 1.3s infinite;
        animation: zoom 1.5s infinite;
    }

    .phone-circle::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: rgba(231, 55, 55, 0.7);
        transform: scale(1);
        z-index: 1;
        /* Đặt vòng tròn mờ nằm dưới vòng tròn chính */
        transition: all 0.5s;
        animation: ripple 1.5s infinite;
    }

    .phone-image {
        position: absolute;
        z-index: 3;
        width: 100%;
        top: 20%;
        left: 20%;

        img {
            width: 30px;
            height: auto;

        }

    }
}
@keyframes zoom {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes ripple {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.5);
        /* Mở rộng vòng tròn ra */
        opacity: 0;
        /* Mờ dần */
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}